.button {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  padding: 14px 9px 8px;
  border: transparent;
  border-radius: 10px;

  color: var(--color-heading);
  background-color: hsl(230, 86%, 97%);
  font-size: var(--font-size-body-3);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.01em;
}

.button:hover {
  background-color: hsl(230, 100%, 91%);
}

@media (prefers-reduced-motion: no-preference) {
  .button:hover > svg {
    animation: jump 500ms ease-out;
  }
}

.button[data-upvoted='true'] {
  background-color: var(--color-action);
  color: var(--color-white);
}

.button[data-upvoted='true'] path {
  stroke: currentColor;
}

@keyframes jump {
  from {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}
