.button {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  padding: 14px 9px 8px;
  border: transparent;
  border-radius: 10px;

  color: var(--color-heading);
  background-color: hsl(230, 86%, 97%);
  font-size: var(--font-size-body-3);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.01em;
}

.button:hover {
  background-color: hsl(230, 100%, 91%);
}

.button[data-upvoted='true'] {
  background-color: var(--color-action);
  color: var(--color-white);
}

.button[data-upvoted='true'] path {
  stroke: currentColor;
}
