.request {
  --loader-background-color: hsla(231, 100%, 97%, 1);
  --loader-highlight-color: hsla(230, 60%, 98%, 1);

  display: grid;
  grid-template-areas:
    'title title'
    'content content'
    'content2 content2'
    'category category'
    'upvotes comments';
  justify-items: start;
  row-gap: 0.5rem;
}

.request > * {
  background: linear-gradient(
    90deg,
    var(--loader-background-color) 25%,
    var(--loader-highlight-color) 50%,
    var(--loader-background-color) 75%
  );
  min-height: 13px;
  background-size: 200% 100%;

  animation: loading 2s infinite ease-in-out;
}

.title {
  grid-area: title;
  width: 45%;
  min-height: 15px;
}

.category {
  grid-area: category;
  background-color: red;
  width: 111px;
  height: 30px;
  border-radius: 10px;
}

.description {
  grid-area: content;
  width: 100%;
}

.description--2 {
  grid-area: content2;
  width: 25%;
}

.upvotesButton {
  grid-area: upvotes;
  width: 69px;
  height: 32px;
  border-radius: 10px;
}

.commentsLink {
  grid-area: comments;
  height: 18px;
  width: 39px;
  justify-self: end;
  align-self: end;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
