.navlink:link,
.navlink:visited,
.backdrop {
  display: block;

  min-inline-size: 3rem;
  padding-inline: 16px;
  padding-block: 5px 6px;
  border-radius: 10px;

  background-color: var(--color-bg-2);
  color: var(--color-action);

  text-decoration: none;
  font-size: var(--font-size-body-3);
  line-height: 1.1875rem;
  font-weight: 600;
}

.navlink:hover,
.navlink:active {
  background-color: hsl(230, 100%, 91%);
}

.navlink[aria-current='page'],
.backdrop {
  background-color: var(--color-action);
  color: var(--color-white);
}

.navlink[aria-current='page'] {
  transition: all 0.5s;
}

.backdrop {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}
