.button {
  display: inline-block;
  padding-block: 10.5px;
  padding-inline: 16px;
  border-radius: 10px;
  border: transparent;
  color: hsla(230, 86%, 97%, 1);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  min-height: 2.75rem;
}

.button[data-variant='purple'] {
  background-color: var(--color-accent-1);
}
.button[data-variant='purple']:hover {
  background-color: var(--color-accent-light-1);
}

.button[data-variant='blue'] {
  background-color: var(--color-action);
}
.button[data-variant='blue']:hover {
  background-color: var(--color-action-light);
}

.button[data-variant='grey'] {
  background-color: var(--color-heading);
}
.button[data-variant='grey']:hover {
  background-color: hsla(231, 26%, 52%, 1);
}

.button[data-variant='red'] {
  background-color: var(--color-danger);
}
.button[data-variant='red']:hover {
  background-color: var(--color-danger-light);
}

.button[data-variant='dark-grey'] {
  padding: 0;
  min-height: 0;
  background-color: var(--color-bg-3);
  display: flex;
  gap: 15.67px;
  align-items: center;
}
.button[data-variant='dark-grey']:hover {
  text-decoration: underline;
}

.button[data-variant='plain'] {
  display: flex;
  gap: 15.67px;
  align-items: center;

  color: hsla(224, 20%, 49%, 1);
}
.button[data-variant='plain']:hover > span {
  text-decoration: underline;
}
