.wrapper {
  padding-block-start: 92px;
  padding-inline: 24px;
  box-sizing: content-box;
  max-inline-size: 33.75rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 4.25rem;
}

@media screen and (max-width: 59.375em) {
  .wrapper {
    padding-block-start: 56px;
    gap: 4.25rem;
  }
}

@media screen and (max-width: 32.1875em) {
  .wrapper {
    padding-block-start: 34px;
    gap: 3.4375rem;
  }
}
