.form {
  padding: 24px 32px 32px 34px;
  font-size: var(--font-size-body-2);
  line-height: 1.375rem;
}

.reply {
  padding: 0;
  display: grid;
  column-gap: 16px;
  grid-template-columns: 1fr 7.3125rem;
  grid-template-areas: 'textarea button' 'error button';
  align-items: start;
}

.reply .field {
  margin: 0;
}

.reply button {
  grid-area: button;
  inline-size: 100%;
}

.field {
  margin-block-start: 1.5rem;
}

.error {
  color: var(--color-danger);
  grid-area: error;
}

.form div:last-of-type {
  margin-block-start: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.reply div:last-of-type {
  margin-block-start: 0;
}

.heading {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 59.375em) {
  .reply {
    grid-template-columns: 1fr;
    grid-template-areas: 'textarea' 'error' 'button';
  }

  .reply button {
    grid-area: button;
    inline-size: auto;
    margin-block-start: 1rem;
    margin-inline-start: auto;
  }
}
