.tablist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab {
  border: transparent;
  background-color: transparent;
  border-block-end: 1px solid hsla(231, 20%, 63%, 0.5);
  opacity: 0.5;

  color: var(--color-heading);
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.01em;
  padding-block: 20px;
  position: relative;
}

.tab[aria-selected='true'] {
  opacity: 1;
}

.tab > span {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  block-size: 4px;
  inline-size: 100%;
}

.tab[data-status='planned'] > span {
  background-color: var(--color-accent-2);
}

.tab[data-status='live'] > span {
  background-color: var(--color-accent-3);
}

.tab[data-status='progress'] > span {
  background-color: var(--color-accent-1);
}

.tabpanel {
  grid-column: 1 / -1;
}

.tabpanel__title {
  color: var(--color-heading);
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.01em;
  margin-block-start: 24px;
}

.tabpanel__list {
  margin-block-start: 24px;
  list-style: none;
}

.tabpanel__list > * + * {
  margin-block-start: 1rem;
}

@media screen and (max-width: 32.1875em) {
  .tabpanel {
    padding-inline: 24px;
  }
}
