.form {
  position: relative;
  padding: 52px 42px 40px;
  font-size: var(--font-size-h4);
  position: relative;
}

.form > svg {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.form :global(.field:first-of-type) {
  margin-block-start: 4.6875rem;
}

.buttons {
  display: grid;
  gap: 16px;
  grid-template-columns: 5.8125rem 1fr 5.8125rem 9rem;
  margin-block-start: 2rem;
}

.buttons > button:first-of-type {
  grid-column: -2/ -1;
  grid-row: 1;
}

.buttons > a {
  grid-column: -3/ -2;
  grid-row: 1;
}

.buttons > button:last-of-type {
  grid-column: 1/ 2;
  grid-row: 1;
}

@media screen and (max-width: 32.1875em) {
  .buttons {
    display: flex;
    flex-direction: column;
    margin-block-start: 2.5rem;
  }
}
