/* ......................................................................................... */
/* CSS reset */
/* ......................................................................................... */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Variables */

:root {
  --color-accent-1: hsl(282, 83%, 52%);
  --color-accent-light-1: hsl(282, 90%, 66%);
  --color-accent-2: hsl(14, 83%, 74%);
  --color-accent-3: hsl(204, 94%, 68%);
  --color-action: hsl(230, 76%, 59%);
  --color-action-light: hsl(230, 91%, 73%);
  --color-danger: hsla(0, 67%, 53%, 1);
  --color-danger-light: hsla(0, 69%, 72%, 1);
  --color-bg-1: hsl(230, 60%, 98%);
  --color-bg-2: hsl(231, 100%, 97%);
  --color-bg-3: hsl(230, 31%, 31%);
  --color-white: hsl(0, 0%, 100%);
  --color-heading: hsl(231, 33%, 34%);
  --color-text: hsl(224, 20%, 49%);

  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.125rem;
  --font-size-h4: 0.875rem;
  --font-size-body-1: 1rem;
  --font-size-body-2: 0.9375rem;
  --font-size-body-3: 0.8125rem;

  --font-weight-regular: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@media screen and (max-width: 32.1875em) {
  :root {
    --font-size-h1: 1.125rem;
    --font-size-h3: var(--font-size-body-3);
    --font-size-h4: var(--font-size-body-3);
    --font-size-body-1: var(--font-size-body-3);
    --font-size-body-2: var(--font-size-body-3);
  }
}

/* General styles */

body {
  background-color: var(--color-bg-1);
  color: var(--color-text);
  font-size: var(--font-size-body-1);
  line-height: 1.4375rem;
  padding-block-end: 130px;
}

body[data-menu-is-open='true'] {
  block-size: 100vh;
  overflow-y: hidden;
}

button {
  cursor: pointer;
}

h1,
.h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: 1.375rem;
  letter-spacing: -0.01em;
}

h2,
.h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: 1.8125rem;
  letter-spacing: -0.01em;
}

h3,
.h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: 1.625rem;
  letter-spacing: -0.01em;
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  line-height: 1.25rem;
  letter-spacing: -0.01em;
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
}

button,
a {
  /* exit animations */
  transition: all 300ms ease-out;
}

button:hover,
button:focus,
a:hover,
a:active {
  /* in animations */
  transition: all 150ms ease-in;
}

:focus-visible {
  outline: 0.375rem double black;
  box-shadow: 0 0 0 0.25rem white;
}

/* Utilities */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.click-target-helper {
  position: relative;
}

.click-target-helper::after {
  --click-target-minimum: 44px;
  --inset-by: min(0px, calc((100% - var(--click-target-minimum)) / 2));

  content: '';
  position: absolute;
  top: var(--inset-by);
  left: var(--inset-by);
  right: var(--inset-by);
  bottom: var(--inset-by);
}

.box {
  background-color: var(--color-white);
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-heading {
  color: var(--color-heading);
}

.input {
  padding: 13px 24px;
  border-radius: 5px;
  color: var(--color-heading);
  background-color: var(--color-bg-1);
  outline: none;
  border: 1px solid transparent;
  inline-size: 100%;
}

.input:focus {
  border-color: var(--color-action);
}

.input::placeholder {
  color: hsl(231, 20%, 63%);
}

.input:invalid,
.input[aria-invalid='true'] {
  border-color: var(--color-danger);
}

textarea.input {
  display: block;
  resize: none;
  min-height: 6rem;
}

.field .input {
  margin-block-start: 1rem;
}

.field:not(:first-of-type) {
  margin-block-start: 1.5rem;
}

.error {
  color: var(--color-danger);
}

@media screen and (max-width: 32.1875em) {
  .input {
    padding-block: 14px 15px;
    padding-inline: 16px 22px;
  }

  textarea.input {
    padding: 16px;
    min-height: 7.5rem;
  }
}
