.layout {
  display: grid;
  grid-template-columns: 15.9375rem 1fr;
  gap: 30px;
  box-sizing: content-box;
  max-inline-size: 69.375rem;
  margin-inline: auto;
  padding-block-start: 94px;
  padding-inline: 40px;
}

@media screen and (max-width: 59.375em) {
  .layout {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-block-start: 56px;
  }
}

@media screen and (max-width: 32.1875em) {
  .layout {
    padding: 0;
    gap: 0;
  }
}
