.header {
  background-color: hsla(230, 31%, 31%, 1);
  padding-inline: 24px;
  padding-block: 26px;
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.333px;
}
