.sort {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--font-size-h4);
  flex-wrap: wrap;
}

.label {
  opacity: 0.75;
}

.combobox {
  display: flex;
  border: transparent;
  background: none;
  color: inherit;
  font-weight: var(--font-weight-bold);
  gap: 0.5rem;
}

.combobox path {
  stroke: currentColor;
}

.comboboxWrapper.comboboxWrapper {
  position: static;
}

.dropdown.dropdown {
  top: calc(100% + 2rem);
}
